.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-red: #f82727;
  --primary-white: #ffffff;
}
body{
  font-family: "Roboto Condensed", sans-serif !important;
}

/*****************NAVBAR********************/
.logo{
  width: 5rem;
  margin: 0.5rem;
}

.navbar-brand{
  max-width:fit-content
}

.container-fluid{
  display: contents;
}

.navbar-toggler{
  
  float: right;
}

/*********MENU LINKS**********/
nav ul li{
  letter-spacing: 0.0375rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 20px;
}

nav ul li a{
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}


.navbar-nav > li > a.active:hover, .navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-red);
}


/***********HEADER************/
.header-wraper{
  background: url(./laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 82.9vh;
  opacity: 0.95;
}

.main-info{
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif !important;
}

.main-info h1{
  
  text-transform: uppercase;
  font-size: 5rem;
  color: var(--primary-red);
  font-weight: bold;
}

.typed-once, .typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

/**************PARTICLES****************/
#tsparticles{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}