@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-red: #f82727;
  --primary-white: #ffffff;
}

body{
  font-family: "Roboto Condensed", sans-serif !important;
  max-width: 100%;
}

.modal {
  padding-right: 0% !important;
 }

 .show{
  padding-right: 0% !important;
  margin-right: 0% !important;
 }


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.row{
  min-width: fit-content;
}


/*****************NAVBAR********************/
nav{
  padding-top: 0% !important;
  padding-bottom: 0 !important;
}

.logo{
  width: 5rem;
  margin: 0.5rem;
}

@media(max-width: 768px){
  .logo{
    width: 4rem;
  }

}

.navbar-brand{
  max-width:fit-content;
}

.container-fluid{
  display: contents;
}

.navbar-toggler{
  
  float: right;
}

/*********MENU LINKS**********/
nav ul li{
  
  letter-spacing: 0.0375rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 1.25rem;
}

@media(max-width: 768px){
  nav ul li{
    margin-left: 1.8rem;
  }

}

nav ul li a{
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
  
}


.navbar-nav > li > a.active:hover, .navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-red);
  transform: scaleX(1.2) scaleY(1.2);
}


/***********HEADER************/
.header-wraper{
  background: url(./laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60rem;
  position: relative;
  
  opacity: 0.95;
}

.main-info{
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif !important;
  
}

.main-info h1{
  
  text-transform: uppercase;
  font-size: 7rem;
  text-shadow: 0.0625rem 0.0625rem #61dafb;
  color: var(--primary-red);
  font-weight: bold;
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 3rem !important;
  }
  .typed-text{
    font-size: 1.5rem !important;
  }

}

.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

/**************PARTICLES****************/
#tsparticles{
  position: absolute;
  top: 0;
  height: -webkit-fill-available;
  width: 100%;
}



/***************ABOUT ME******************/
#root > div.container.my-5 > div{
  max-width: 100%;
}

.about-wrapper{
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.profile{
  text-align: center;
}

.profile-image{
  width: 25rem;
  height: 25rem;
  padding: 0.625rem;
  border: 0.125rem solid #f82727;
  border-radius: 100%;
  object-fit: cover;
}

@media(max-width: 768px){
  .profile-image{
    width: 18rem;
    height: 18rem;
  }
}

.about-info > h2{
  text-transform: uppercase;
  font-size: 5rem;
  text-shadow: 0.0625rem 0.0625rem #282c34;
  color: var(--primary-red);
  font-weight: bold;
}

@media(max-width: 768px){
  .about-info > h2{
    font-size: 3.2rem;
    text-align: center;
  }
  #root > div.container.my-5 > div > div.container.about-info.col{
    padding-top: 0.7rem;
  }
}

.about-info > h3{
  color: var(--primary-red);
  font-size: 2.5rem;
  font-weight: bold;
}

.about-info > h4{
  font-size: 0.8rem;
  color: var(--primary-red);
}

.about-info > p{
  font-size: 1.2rem;
  
}

@media(max-width: 768px){
  .about-info > h3{
    font-size: 2rem;
    text-align: center;
  }

  .about-info > h4{
    
    text-align: center;
  }
}

/***********SKILLS**************/
.skill > h3{
  text-align: center;
  font-size: 3rem;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.cards{
  padding-bottom: 8vh;
}

.cards .card{
  border-bottom: 0.25rem solid var(--primary-red);
  min-height: 20rem;
  border-radius: 1.25rem 1.25rem 0px 0px;
}

.cards .card:hover{
  border-bottom: 0.25rem solid #282c34;
  background-color: var(--primary-red);
  color: var(--primary-white);
  
}

.cards .card:hover .card-title{
  color: black;
}

.cards .card:hover .icon{
  color: #282c34;
  background-color: var(--primary-white);
}

@media(max-width: 768px){
  .cards .card{
    min-width: max-content;
    margin-bottom: 3.125rem;
  }

  .cards{
    padding-bottom: 0;
  }
}


.card-title{
  font-weight: bold;
}

.icon-container{
  text-align: center;
  
}

.icon{
  height: 3rem !important;
  padding: 0.9375rem;
  min-width: 4.5rem;
  min-height: 4.5rem;
  color: var(--primary-white);
  background-color: var(--primary-red);
  border-radius: 100%;
}

/**********************PROJECTS****************************************/
.projects-wrapper h2{
  text-align: center;
  color: var(--primary-red);
  font-size: 3rem;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.projects-card{
  padding-bottom: 8vh;
}

.projects-card .card{
  min-height: 10rem;
  padding-left: 0;
  padding-right: 0;
}

.project-img{
  min-height: inherit;
  min-width: inherit;
  
}

@media(max-width: 768px){
  .projects-card .card{
    margin-bottom: 3.125rem;
  }

  .projects-card{
    padding-bottom: 0;
  }
}

/*************************MODAL***************************/
.modal-title{
  font-weight: bold;
  font-size: 1.6rem;
}

.modal-footer{
  padding: 1rem;
}

.modal-body img{
  width: 100%;
  height: 60vh;
}

@media(max-width: 768px){
  .modal-body img{
    width: 100%;
    height: 23vh;
  }
}

.modal-footer p{
  text-align: left;
}

/**********************FOOTER****************************************/
.footer-wraper{
  background-color: #282c34;
  width: 100%;
}

@media(max-width: 768px){
  .footer-wraper{
    padding-bottom: 2rem;
    
  }
  .foot2{
    min-width: fit-content;
    padding-bottom: 2vh;
    max-width: 24vw;
    margin-right: 1.875rem;
  }
  .foot2 .link{
  text-align: center;
  }
}

.foot2 h3{
  color: var(--primary-red);
  font-weight: bold;
  line-height: 3rem;
}

.foot3 h4{
  color: var(--primary-red);

}

.link{
  color: var(--primary-white);
  text-decoration: none;
}

.link:hover{
  color: var(--primary-red);
}